<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="contemt-type" content="text/html" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Radar Scan</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="radar">
            <div class="angle-marker zero">0°</div>
            <div class="angle-marker ninety">90°</div>
            <div class="angle-marker one-eighty">180°</div>
            <div class="angle-marker two-seventy">270°</div>
        </div>
        <div class="container">
            <div class="time" id="Time"></div>
            <div class="radar-dimensions" id="radarDimensions"></div>
            <div class="radar-angle" id="radarAngle"></div>
            <div class="radar-center" id="radarCenter"></div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script src="/static/js/script.js"></script>
</html>
