<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Radar Scan</title>
    <link rel="stylesheet" href="/static/css/style.css?v=3.0">
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <h1> 雷 达 扫 描</h1>
    <div class="radar">
        <div class="direction direction-left">0°</div>
        <div class="direction direction-top">90°</div>
        <div class="direction direction-right">180°</div>
    </div>
    <div class="targets-container"></div>
    <div class="current-time" id="currentTime"></div>
    <div class="scan-range" id="scanRange"></div>
    <div class="scan-period" id="scanPeriod"></div>
    <table>
        <tr>
            <th>目标距离</th>
            <th>目标角度</th>
        </tr>
        <tbody id="distanceAndAngleTableBody"></tbody>
    </table>
    <div style="position: fixed; bottom: 2px; height: 35%; width: 100%; z-index: 9999;">
        <canvas id="lineChart" width=0></canvas>
    </div>

    <canvas class="scanLineCanvas" id="scanLineCanvas"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>
